@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}
body.dark{
  background: #242424;
  color: #fff;
}
body.light{
  background: #ffff;
  color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}
button:hover {
  border-color: #646cff;
  outline: none;
}
button:focus,
button:focus-visible {
  outline: none 
}

@keyframes transitionIn{
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to{
    opacity: 1;
    transform: translatex(0);
  }
}
*{
  animation: transitionIn 1.5s;
}


*{
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.ProseMirror {
  color: white;
  caret-color: white;
}

@media print {
  .print-content, .print-content * {
    background: white !important;
    color: black !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
img {
  resize: both;
  overflow: auto;
  max-width: 100%;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
img {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 768px) {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 22px; }
  img { max-width: 500px; }
}

@media (min-width: 1024px) {
  h1 { font-size: 48px; }
  h2 { font-size: 36px; }
  h3 { font-size: 28px; }
  img { max-width: 700px; }
}
